<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Corkboard</title>
    <link rel="stylesheet" href="./bulma/css/bulma.css" />
    <link rel="stylesheet" href="/style.css">

    <link rel="" href="https://fonts.googleapis.com">

  </head>
  <body>
    {{!-- NAVBAR CODE --}}
    <nav
      id="navbar"
      class="navbar"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img id="background" src="./images/corkboard_logo_small_360.png" width="55" />
        </a>
      
        <form id="searchBox"> 
          <button id="search" type="submit">Search</button>
            <input id="search-bar" class="input is-small mx-4" 
            type="search" placeholder="Search for events or users...">
        </form>

        <a
          id="burger"
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      
      <div class="navbar-menu is-size-5" id="navMenu">
        <div class="navbar-start">
          <a id="home-btn" class="navbar-item is-size-6-mobile"> Home </a>
          <a id="browse-btn" class="navbar-item is-size-6-mobile"> Browse Events </a>
          
        </div>

        <div class="navbar-end">
          {{#if logged_in}}
          <div class="navbar-item">
            <div class="buttons" >
              <a class="button is-size-5 is-size-6-mobile" id="profile_btn">
                My Profile
              </a>
            </div>
          </div>
          {{else}}
          <div class="navbar-item">
            <div class="buttons" >
              <a class="button is-size-5 is-size-6-mobile" id="btns">
                Sign up/Log in
              </a>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </nav>
    {{!-- END NAVBAR CODE --}}
    {{{body}}}
  <footer></footer>
    <script src="/js/nav.js"></script>
  </body>
</html>