<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cork Board</title>
    <link rel="stylesheet" href="./bulma/css/bulma.css" />
    <link rel="stylesheet" href="/style.css">

    <link rel="" href="https://fonts.googleapis.com">

  </head>
  <body>
    {{!-- NAVBAR CODE --}}
    <nav
      id="navbar"
      class="navbar"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img id="background" src="./images/corkboard_logo_small_360.png" width="60" height="400" />
        </a>

        <a
          id="burger"
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu " id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item"> Home </a>
          <a class="navbar-item"> About </a>
        </div>

        <form class="navbar-item" id="navbarItem"> 
          <button id="search" type="submit"></button>
            <input id="search-bar" class="input is-small" 
            type="search" placeholder="Search for events or users...">
        </form>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>
            <div class="navbar-dropdown" id="drpdown">
              <a class="navbar-item"> Profile </a>
              <a class="navbar-item"> My Events </a>
              <a class="navbar-item"> My Invitations </a>
              <a class="navbar-item"> Settings </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Log Out </a>
            </div>
          </div>
          <div class="navbar-item">
            <div class="buttons" >
              <a class="button" id="btns">
                <strong>Sign up/Log in</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {{!-- END NAVBAR CODE --}}
    {{{body}}}

    <script src="/js/nav.js"></script>
  </body>
</html>