<div class="event-box">
    <h1 class="section-header is-size-1">Public Events</h1>
    <section id="public-events" class="columns">
        <div class="card column is-one-third">
            <div class="card-content">
                <p class="title"> 
                    <span>Event 1 Name</span>
                </p>
                <p class="subtitle columns"> 
                    <span class="column is-one-third">Host Name</span><br>
                    <span class="column is-one-third">Location</span><br>
                    <span class="column is-one-third">Date and Time</span>
                </p>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <span> <a href="#">View Event</a> </span>
                </p>
            </footer>
        </div>
        <div class="card column is-one-third">
            <div class="card-content">
                <p class="title"> 
                    <span>Event 2 Name</span>
                </p>
                <p class="subtitle columns"> 
                    <span class="column is-one-third">Host Name</span><br>
                    <span class="column is-one-third">Location</span><br>
                    <span class="column is-one-third">Date and Time</span>
                </p>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <span> <a href="#">View Event</a> </span>
                </p>
            </footer>
        </div>
        <div class="card column is-one-third">
            <div class="card-content">
                <p class="title"> 
                    <span>Event 3 Name</span>
                </p>
                <p class="subtitle columns"> 
                    <span class="column is-one-third">Host Name</span><br>
                    <span class="column is-one-third">Location</span><br>
                    <span class="column is-one-third">Date and Time</span>
                </p>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <span> <a href="#">View Event</a> </span>
                </p>
            </footer>
        </div>
    </section>
</div>