<div id="event-page" class="event-box">
    <h1 class="section-header is-size-1">Event Name</h1>
    <div class="columns">
        <div class="column is-three-quarters columns" id="event-info">
            <h2 class="column is-half is-size-4">
                <span>Host: Danny Wittig</span><br>
                <span> Location: 529 N Western Ave, Chicago IL</span>
            </h2>
            <h2 class="column is-half is-size-4">
                <span>Date: April 20th, 2024</span><br>
                <span> Time: 4:20PM</span>
            </h2>
        </div>
        <div class="column is-one-quarter" id="attendees-list">
            <form>
                <div>
                    <label class="label">Invite attendees by email:</label>
                    <input type="email" >
                </div>
                <div class="control">
                    <button class="button is-small is-link" id="attendee-submit">Submit</button>
                </div>
            </form><br>
            <h2>Attending:</h2>
            <ul>
                <li>Mike Hunt (Host)</li>
                <li>Person 2</li>
                <li>Person 3</li>
                <li>Person 4</li>
            </ul>
        </div>
    </div>
    <div>
        <h2>Description of event</h2>
        <p>Welcome to the party</p>
    </div>
</div>