{{!-- 
    -- large middle box w/ logo (top left-ish) & 
    logged in/out views --}}

<div id="homepage-body" class="section m-6">
    <div id="column-box" class="columns">
        <div id="logo-box" class="column is-one-third">
            <img src="/images/corkboard_logo.png" width="974" height="646">
        </div>
        <div id="about-site" class="column is-two-thirds">
            <h2 class="mb-2 is-size-1-fullhd is-size-3-desktop is-size-4-mobile has-text-centered-mobile is-underlined">Welcome To Corkboard!</h2>
            <p class="is-size-3-fullhd is-size-4-desktop is-size-5-mobile"><strong>Our mission at Corkboard</strong> is to bring people together through quick and easy event planning.<br> <br>Invite your family to a party, organize a hangout with your friends, or start a public gathering at your local pub.</p>
        </div>
    </div>
    <div class="section">
        <h2 class="mb-4 is-size-1-fullhd is-size-3-desktop is-size-4-mobile has-text-centered is-underlined">Check Out Events!</h2>
        <div id="event-sample">
            <h3 id="display-events" class="is-clickable">Click here to see more cool events like this one!</h3>
            <div class="column is-two-thirds">
                <div id="sample-event" class="card">
                    <div class="card-content">
                        <p id="titleHead" class="title is-size-4 is-size-3-desktop has-text-centered"> 
                            <span>Rich's birthday party</span>
                        </p>
                        <p id="demoContent" class="subtitle columns p-event-info"> 
                            <span  class="column is-one-half is-size-6-mobile">Rich's house</span><br>
                            <span class="column is-one-half is-size-6-mobile">7:00-10:00pm CST, Thursday, August 8th 2023</span>
                        </p>
                        <p id="demoContent" class="is-size-6-mobile"> Come celebrate Rich's birthday! There will be a bouncy house and clowns. </p>
                    </div>
                </div>
            </div>
        </div>
    <div class="section">
        <h2 id="meet-team" class="is-clickable mb-4 is-size-1-fullhd is-size-3-desktop is-size-4-mobile has-text-centered is-underlined">Meet the Team - Click Here!</h2>
    </div>
</div>
<script src="/js/home.js"></script>