<div id="about-us" class="section">
        <h2 class="mb-4 is-size-1-fullhd is-size-3-desktop is-size-4-mobile has-text-centered is-underlined">Meet the Team!</h2>
        <div class="columns">
            <div class="column is-one-fourth">
                <img src="/images/corkboard_logo_small_360.png" width="150" height="150">
                <p class="is-size-4-fullhd is-size-5-desktop is-size-6-mobile has-text-left">text text text text text text text text text text text</p>
            </div>
            <div class="column is-one-fourth">
                <img src="/images/corkboard_logo_small_360.png" width="150" height="150">
                <p class="is-size-4-fullhd is-size-5-desktop is-size-6-mobile has-text-left">text text text text text text text text text text text</p>
            </div>
            <div class="column is-one-fourth">
                <img src="/images/corkboard_logo_small_360.png" width="150" height="150">
                <p class="is-size-4-fullhd is-size-5-desktop is-size-6-mobile has-text-left">text text text text text text text text text text text</p>
            </div>
            <div class="column is-one-fourth">
                <img src="/images/corkboard_logo_small_360.png" width="150" height="150">
                <p class="is-size-4-fullhd is-size-5-desktop is-size-6-mobile has-text-left">text text text text text text text text text text text</p>
            </div>
</div>