<div id="about-us" class="section">
        <h2 class="mb-4 is-size-1-fullhd is-size-3-desktop is-size-4-mobile has-text-centered is-underlined">Meet the Team!</h2>
        <div id="about" class="columns">
            <div class="column is-one-fourth">
                <img class="aboutImage" src="/images/Danny.JPG" width="150" height="150">
                <h2 class="is-size-3">Danny Wittig</h2>
                <p class="is-size-5-fullhd is-size-6-desktop is-size-7-mobile has-text-left">How does one find the words to describe Danny Wittig. An innovator, a problem solver, a free thinker... these are just a few of the many descriptors attributed to him. <br><br> If you were to ask him yourself, he would probably say he is just a humble kid from the east end of Pittsburgh, looking to make his place in the world. But the reality is, you could never really know Danny until you meet him, shake his hand, and let him tell you about his life.</p>
            </div>
            <div class="column is-one-fourth">
                <img class="aboutImage" src="/images/Hannah.png" width="150" height="150">
                <h2 class="is-size-3">Hannah Wolfson</h2>
                <p class="is-size-5-fullhd is-size-6-desktop is-size-7-mobile has-text-left">Hannah graduated from Michigan in 2021 (Go Blue!) and has a background in professional training, research, and project management. Based in Chicago, Hannah likes to crochet, listen to audiobooks, and watch/play TTRPGS in her free time.</p>
            </div>
            <div class="column is-one-fourth">
                <img class="aboutImage" src="/images/corkboard_logo_small_360.png" width="150" height="150">
                <h2 class="is-size-3">Andrew Forbes</h2>
                <p class="is-size-5-fullhd is-size-6-desktop is-size-7-mobile has-text-left">text text text text text text text text text text text</p>
            </div>
            <div class="column is-one-fourth">
                <img class="aboutImage" src="/images/corkboard_logo_small_360.png" width="150" height="150">
                <h2 class="is-size-3">Teylor Smith</h2>
                <p class="is-size-5-fullhd is-size-6-desktop is-size-7-mobile has-text-left">text text text text text text text text text text text</p>
            </div>
</div>