<div id="profile-page" class="profile-box">
<div class="container">
  <div class="columns">
    <div class="column">
      <figure id="profile-pic">
      </figure>
    </div>
    <div class="column">
      <div class="content">
        <p class="is-size-2"><strong> {{user.username}} </strong></p>
        <p class="is-size-4"><strong>Age:</strong></p>
        <p class="is-size-4"><strong>Location:</strong> {{user.location}}</p>
        <p class="is-size-4"><strong>Email:</strong> {{user.email}}</p>
      </div>
    </div>
  </div>
  
  <div class="columns">
    <div class="column">
      <!-- Upcoming Events -->
      <div class="box transparent-box">
        <h3 class="title is-4 is-spaced has-text-centered">Upcoming Events</h3>
       <div class="tile is-ancestor">
          <div class="tile is-parent is-spaced has-text-centered">
            <article class="tile is-child box">
              <p class="title">Event 1</p>
              <p class="subtitle">Event description or date</p>
            </article>
          </div>
          <div class="tile is-parent is-spaced has-text-centered">
            <article class="tile is-child box">
              <p class="title">Event 2</p>
              <p class="subtitle">Event description or date</p>
            </article>
          </div>
          <div class="tile is-parent is-spaced has-text-centered">
            <article class="tile is-child box">
              <p class="title">Event 3</p>
              <p class="subtitle">Event description or date</p>
            </article>
          </div>
        </div>
        </div>
    <div class="column">
      <!-- Other Box -->
      <div class="box">
        <div id='calendar'></div>
<script>
      var events = {{{events}}}

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          events: events
        });
        calendar.render();
      });
    


    </script>
      </div>
    </div>
  </div>
</div>
</div>
